* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    font-family: 'Alice', sans-serif; 
    line-height: 1; 
    color: #291b1a;
}



body {
    position: relative;
    overflow: scroll;
   
    }
    
    
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
        z-index: -1;
    }
    
    

#page {
    box-sizing: content-box; 
    width: 800px;
    padding: 10px; 
    background-color: #f0e8c2;
    border-radius: 0px; 
    margin: 10px auto;
    text-align: left; 
}

#about {
    margin-left: 30px;
}

#preparation {
    margin-left: 30px;
}
#ingredients {
margin-left: 30px;
color: #573A37;
}

.imgcc{
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 2%;
}
img {
    border-radius: 0%;
    margin: auto;
}

main {
    padding: 0px; 
}

section + section {
    margin-top: 0px; 
}

#about p + p {
    margin-top: 24px; 
}

h1 {
    line-height: 1.4; 
    font-size: 40px;
    font-weight: 100;
}

h2 {
    line-height: 1.5;
    font-size: 24px;
    font-weight: 100;
}

h1,
h2 {
    margin-bottom: 0px; 
    color: #000;
}

ul {
    padding-left: 50px; 
}

footer {
    color: #f0e8c2; 
    text-align: center; 
    padding-bottom: 10px;

}

footer img {
    vertical-align: bottom; 
}